/* Coolors Exported Palette - https://coolors.co/111844-2e376c-4b5694-5f6fa1-7288ae-aeb4bf-eae0cf */

/* CSS HEX */
--deep-navy: #111844ff;
--twilight-indigo: #2e376cff;
--dusk-blue: #4b5694ff;
--glaucous: #5f6fa1ff;
--glaucous-2: #7288aeff;
--pale-slate: #aeb4bfff;
--bone: #eae0cfff;

/* CSS HSL */
--deep-navy: hsla(232, 60%, 17%, 1);
--twilight-indigo: hsla(231, 40%, 30%, 1);
--dusk-blue: hsla(231, 33%, 44%, 1);
--glaucous: hsla(225, 26%, 50%, 1);
--glaucous-2: hsla(218, 27%, 56%, 1);
--pale-slate: hsla(219, 12%, 72%, 1);
--bone: hsla(38, 39%, 86%, 1);

/* SCSS HEX */
$deep-navy: #111844ff;
$twilight-indigo: #2e376cff;
$dusk-blue: #4b5694ff;
$glaucous: #5f6fa1ff;
$glaucous-2: #7288aeff;
$pale-slate: #aeb4bfff;
$bone: #eae0cfff;

/* SCSS HSL */
$deep-navy: hsla(232, 60%, 17%, 1);
$twilight-indigo: hsla(231, 40%, 30%, 1);
$dusk-blue: hsla(231, 33%, 44%, 1);
$glaucous: hsla(225, 26%, 50%, 1);
$glaucous-2: hsla(218, 27%, 56%, 1);
$pale-slate: hsla(219, 12%, 72%, 1);
$bone: hsla(38, 39%, 86%, 1);

/* SCSS RGB */
$deep-navy: rgba(17, 24, 68, 1);
$twilight-indigo: rgba(46, 55, 108, 1);
$dusk-blue: rgba(75, 86, 148, 1);
$glaucous: rgba(95, 111, 161, 1);
$glaucous-2: rgba(114, 136, 174, 1);
$pale-slate: rgba(174, 180, 191, 1);
$bone: rgba(234, 224, 207, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #111844ff, #2e376cff, #4b5694ff, #5f6fa1ff, #7288aeff, #aeb4bfff, #eae0cfff);
$gradient-right: linear-gradient(90deg, #111844ff, #2e376cff, #4b5694ff, #5f6fa1ff, #7288aeff, #aeb4bfff, #eae0cfff);
$gradient-bottom: linear-gradient(180deg, #111844ff, #2e376cff, #4b5694ff, #5f6fa1ff, #7288aeff, #aeb4bfff, #eae0cfff);
$gradient-left: linear-gradient(270deg, #111844ff, #2e376cff, #4b5694ff, #5f6fa1ff, #7288aeff, #aeb4bfff, #eae0cfff);
$gradient-top-right: linear-gradient(45deg, #111844ff, #2e376cff, #4b5694ff, #5f6fa1ff, #7288aeff, #aeb4bfff, #eae0cfff);
$gradient-bottom-right: linear-gradient(135deg, #111844ff, #2e376cff, #4b5694ff, #5f6fa1ff, #7288aeff, #aeb4bfff, #eae0cfff);
$gradient-top-left: linear-gradient(225deg, #111844ff, #2e376cff, #4b5694ff, #5f6fa1ff, #7288aeff, #aeb4bfff, #eae0cfff);
$gradient-bottom-left: linear-gradient(315deg, #111844ff, #2e376cff, #4b5694ff, #5f6fa1ff, #7288aeff, #aeb4bfff, #eae0cfff);
$gradient-radial: radial-gradient(#111844ff, #2e376cff, #4b5694ff, #5f6fa1ff, #7288aeff, #aeb4bfff, #eae0cfff);