/* Coolors Exported Palette - https://coolors.co/12372a-2b503d-436850-789278-adbc9f-d4dbbd-fbfada */

/* CSS HEX */
--evergreen: #12372aff;
--pine-teal: #2b503dff;
--hunter-green: #436850ff;
--dusty-olive: #789278ff;
--ash-grey: #adbc9fff;
--beige: #d4dbbdff;
--light-yellow: #fbfadaff;

/* CSS HSL */
--evergreen: hsla(159, 51%, 14%, 1);
--pine-teal: hsla(149, 30%, 24%, 1);
--hunter-green: hsla(141, 22%, 34%, 1);
--dusty-olive: hsla(120, 11%, 52%, 1);
--ash-grey: hsla(91, 18%, 68%, 1);
--beige: hsla(74, 29%, 80%, 1);
--light-yellow: hsla(58, 80%, 92%, 1);

/* SCSS HEX */
$evergreen: #12372aff;
$pine-teal: #2b503dff;
$hunter-green: #436850ff;
$dusty-olive: #789278ff;
$ash-grey: #adbc9fff;
$beige: #d4dbbdff;
$light-yellow: #fbfadaff;

/* SCSS HSL */
$evergreen: hsla(159, 51%, 14%, 1);
$pine-teal: hsla(149, 30%, 24%, 1);
$hunter-green: hsla(141, 22%, 34%, 1);
$dusty-olive: hsla(120, 11%, 52%, 1);
$ash-grey: hsla(91, 18%, 68%, 1);
$beige: hsla(74, 29%, 80%, 1);
$light-yellow: hsla(58, 80%, 92%, 1);

/* SCSS RGB */
$evergreen: rgba(18, 55, 42, 1);
$pine-teal: rgba(43, 80, 61, 1);
$hunter-green: rgba(67, 104, 80, 1);
$dusty-olive: rgba(120, 146, 120, 1);
$ash-grey: rgba(173, 188, 159, 1);
$beige: rgba(212, 219, 189, 1);
$light-yellow: rgba(251, 250, 218, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #12372aff, #2b503dff, #436850ff, #789278ff, #adbc9fff, #d4dbbdff, #fbfadaff);
$gradient-right: linear-gradient(90deg, #12372aff, #2b503dff, #436850ff, #789278ff, #adbc9fff, #d4dbbdff, #fbfadaff);
$gradient-bottom: linear-gradient(180deg, #12372aff, #2b503dff, #436850ff, #789278ff, #adbc9fff, #d4dbbdff, #fbfadaff);
$gradient-left: linear-gradient(270deg, #12372aff, #2b503dff, #436850ff, #789278ff, #adbc9fff, #d4dbbdff, #fbfadaff);
$gradient-top-right: linear-gradient(45deg, #12372aff, #2b503dff, #436850ff, #789278ff, #adbc9fff, #d4dbbdff, #fbfadaff);
$gradient-bottom-right: linear-gradient(135deg, #12372aff, #2b503dff, #436850ff, #789278ff, #adbc9fff, #d4dbbdff, #fbfadaff);
$gradient-top-left: linear-gradient(225deg, #12372aff, #2b503dff, #436850ff, #789278ff, #adbc9fff, #d4dbbdff, #fbfadaff);
$gradient-bottom-left: linear-gradient(315deg, #12372aff, #2b503dff, #436850ff, #789278ff, #adbc9fff, #d4dbbdff, #fbfadaff);
$gradient-radial: radial-gradient(#12372aff, #2b503dff, #436850ff, #789278ff, #adbc9fff, #d4dbbdff, #fbfadaff);